html{
    font-family:"arial";
    color:#555;
    font-size:12px;
}
    

#container{
    margin: auto;
    position:relative;
}

/*simple fade effect on rollover*/
#container img{
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari */
}
#container img:hover{
    opacity:0.3;
}