html {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

#container{
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    position:relative;
    height:300px;
    margin-top:50px;
}

.showtime{
    transition: all 0.5s;
    -webkit-transition: all 0.5s; /* Safari */
}

.showtime:hover{
    opacity:0.3;
}