 body {
    margin: 10px;
    font-family: futura, sans-serif;
    font-size: 0.7em;
    font-weight:100;
    color: #dbd9cd;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

.topcoat-range {
    vertical-align: middle;
}

#btn_exec{
    width: 100%;
}

#tabBar{

    margin-top: 20px;
    margin-bottom: 20px;
}

.panel{
    display: none;
}

