 body {
    margin: 10px;
    font-family: futura, sans-serif;
    font-size: 0.7em;
    font-weight:100;
    color: #dbd9cd;
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

.topcoat-range {
    vertical-align: middle;
}

#btn_exec{
    width: 100%;
}

#tabBar{
    margin-top: 20px;
/*    
    margin-left: auto;
    margin-right: auto;    
*/    
    
}

.panel{
    
    display: none;
    padding-top: 20px;
    padding-bottom: 16px;
    padding-left: 10px;
    padding-right: 4px;
    background-color: #3f4041;
    margin-bottom: 10px;
    
}

