 body {
    /*text-align:center;*/
}


#content {
    margin-right:auto;
    margin-left:auto;
    vertical-align:middle;
    width:100%;
}

#exportOptions{
    display:inline-block;
    width:auto;
}

.debugtools{
    position:absolute;
    top:0px;
    right:0px;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

#exportLabel{
    vertical-align:top;
}

.debugtools li {
    display:inline;
    margin:3px 0px 3px 0px;
}

.notice {
    font-style:italic;
}

#destination{
    margin-top:10px;
    margin-bottom:10px;    
}

#destLabel{
    border:solid 1px #0;
    display:inline;
}


input[type="checkbox"]:checked {
    margin-top:10px;
}


hr{
   
}